@import "./imports";

#background-stripe{
    z-index: 0;
    height: 100%;
    position: absolute;
    width: 75%;
    background-color:#f0dada ;
    opacity: .5;
}
#reset-container{
    @include main-content-container;
    @include webkit-placeholder;
    a{
        text-decoration: none;
        color: $darker;
    }
   
  
    .banner{
        @include banner-mix;
    }
    .content-box{
        @include d-flex-col;
        justify-content: flex-start;
   
    }
    @include form-input;
    #mess-box{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
     
  

    }
    .error-box{
      @include error-box;
    }
}
