@import "./colors";
@mixin webkit-placeholder {
    
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $darker;
       font-size: 1.2rem;
       padding: 5px;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $darker;
        font-size: 1.2rem;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $darker;
        font-size: 1.2rem;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $darker;
        font-size: 1.2rem;
      }
}