@import "./webkit";
@import "./colors";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'DotGothic16', sans-serif;
    z-index: 1;

}
html,body{
    height: 100%;
    width: 100%;
  
    
}
@import "./_login";
@import "./myTodos";
@import "./reset";
@import "./register";
@import "./resetForm";
@import "./success";