<link href="/css/main.css" rel="stylesheet" />
<div id="login-body">
    <div class="banner">
    <h1>myTodos</h1>
</div>
<form action="/login" method="POST">

    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">

    <button>Log in</button>
    <a href="/auth/facebook">Login with Facebook</a>



</form>
<p>Forgotten your password? <a href="/resetPassword">Reset password</a></p>
<p>Not a member? <a href="/register">Register!</a></p>
<% if (err) {%>
    <%=err%>
<%}%>
</div>