<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" />
        <%- include("font.ejs")%>
    <title>Document</title>
</head>
<body>




<div id="login-body">
    <div id="background-stripe">
 
    </div>
    <div class="banner">
    <h1>myTodos</h1>
</div>
<div id="content-box">
<form action="/login" method="POST">

    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">

    <button>Log in</button>
  



</form>
<div id="text-div">

<p>Forgotten your password? </p>
<a href="/resetPassword">Reset password</a>
<p>Not a member? </p>
<a href="/register">Register!</a>
</div>
</div>
<% if (err) {%>
<div class="error-box">
    <div id="dummy-div"></div>
    <p>
        <%=err%>
  
    </p>
    <a href="/login">X</a>
</div>
<%}%>
</div>
   
</body>
</html>