<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" />
    <%- include("font.ejs")%>
    <title>Success</title>
</head>
<body>
 
<div id="succ-container">
    <div id="background-stripe">
       
    </div> 
    <div class="banner">
        <h1>Success! </h1>
    </div>

<p>Redirecting you to log in page..</p>
</div>
<script> setTimeout(()=>{
    document.location.href = "/login"
},1500)</script>



</body>
</html>