<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <%- include("font.ejs")%>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>

<div id="reset-container">
 
    <div id="background-stripe"></div>
    <div class="banner"><h1>resetPassword</h1></div>
    <div class="content-box">
<form action="/resetPassword" method="POST">
    <input name="email" type="email" placeholder="Email">
    <button>Send email</button>


</form>
<p>Back to <a href="/login">login</a></p>
<div id="mess-box">

</div>
</div>
<div class="error-box">
    <% if (err) {%>
        <p> <%=err%></p>
     <%}%>
     <% if (errorReset) {%>
         <p>No registered account with that email found, please <a href="/register">register</a> instead</p>
     <%}%>
</div>
</div>
</body>
</html>