<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resetPassword</title>
    <link href="/css/main.css" rel="stylesheet" />
    <%- include("font.ejs")%>
</head>
<body>
<div id="reset-pw-form-container">
    <div id="background-stripe"></div>

    <div class="banner"><h1>resetPassword</h1></div>
    <div class="content-box">
<form action="/resetPasswordForm" method="POST">

   
    <input name="email" type="email" value="<%=email%>" hidden>
    <input name="password" type="password" placeholder="Password">
    <input name="confirmPassword" type="password" placeholder="Confirm password">
    <button>Confirm new password</button>
</form>

</div>
<% if (err) {%>
    <%=err%>
<%}%>
</div>

</body>
</html>