<form action="/resetPasswordForm" method="POST">

   
    <input name="email" type="email" value="<%=email%>" hidden>
    <input name="password" type="password" placeholder="Password">
    <input name="confirmPassword" type="password" placeholder="Confirm password">
    <button>Confirm new password</button>
</form>

<% if (err) {%>
    <%=err%>
<%}%>